* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primarycolor: #69188f;
    --secondary: #a312e6;
    --yellow: #e6cd29;
}

/*GLOBAL*/
body {
    background-color: var(--secondary);
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    box-shadow: 10px 5px 5px black;
}

h2,h3{
    font-size: 72px;
    text-align: center;
    color: #fff;
    margin: 10rem;
}

h3 {
    font-size: 40px;
    margin: 10px auto;
}

p {
    color: #fff;
}

a {
    text-decoration: none;
}

.current {
    color: black;
    text-decoration: underline;
    text-decoration-color: var(--yellow);
}

.selection {
    display: none;
}

.order-btn {
    background-color: var(--yellow);
    font-size: 20px;
    border-radius: 30px;
    height: 57px;
    width: 216px;
}

.order-btn:hover {
    cursor: pointer;
    border: none;
    font-size: 25px;
    background-color: yellow;
    transition: ease 0.3s;
}

.buy-now-btn {
    background-color: var(--yellow);
    height: 30px;
    width: 100px;
    border-radius: 20px;
}

.buy-now-btn:hover {
    font-size: 20px;
    transition: ease 0.3s;
    background-color: yellow;
    border: none;
}

form {
    max-width: 500px;
    margin: 2vh auto;
    text-align: center;
}

form ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid var(--yellow);
    border-radius: 20px;
}

form .order-btn {
    margin: 2vh auto;
}

input {
    width: 75%;
    height: 30px;
    margin-bottom: 1vh;
}

label {
    display: block;
}

.desktop-logo {
    width: 100%;
    box-shadow: none;  
}

.fa-check {
    color: #34e629;
}

.fa-times {
    color: #ff0000;
}

/*HOME-PAGE*/

/*NAVIGATION*/
header {
    background-color: var(--primarycolor);
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;  
}

.nav-icons {
    display: none;
}

ul {
    list-style: none;
}

li {
    color: #fff;
    font-size: 30px;
}

.nav {
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-left: 1em;
    color: #fff;
}

.nav:hover {
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    transition: 0.3s ease;
    color: #000;
    cursor: pointer;
}

/*SHOWCASE*/
.showcase {
    display: flex;
    position: relative;
}

.fortnite {
    background-image: url(../img/fortnite.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 985px;
    width: 100%;
}

.catagory {
    list-style: none;
    margin: 7rem 0 0 2rem;
}

.catagory-btn {
    background-color: var(--yellow);
    font-size: 20px;
    margin: 20px 0;
    height: 58px;
    width: 327px;
}

.catagory-btn:hover {
    font-size: 30px;
    transition: 0.3s ease;
    background-color: yellow;
    cursor: pointer;
}

/*PREVIEW*/
.preview {
    display: flex;
    justify-content: space-evenly;

}

.preview > div {
    flex: 1;
    max-width: 500px;
    flex-shrink: 1;
}

.preview img {
    width:100%;
}

.preview button {
    display: block;
    margin: 2rem auto;
}

.preview p {
    text-align: left;
    margin: 2rem 4rem;
}

/*GAMES-PAGE*/
.selected-game {
    display: flex;
    justify-content: space-evenly;
    margin: 10vh auto;
}

.selected-game-picture {
    max-width: 500px;
}

.selected-game-picture > img {
    width: 100%;
}

.game-info {
    max-width: 500px;
    justify-content: space-between;
}

.game-info p {
    width: 100%;
}

.game-info > h2 {
    text-align: left;
    margin: 0 0 5vh 0;
}

.stock {
    max-width: 500px;
    display: flex;
    margin: 5vh;
}

.stock > ul {
    margin-left: 15vw;
}

.back-btn {
    background-color: var(--yellow);
    height: 30px;
    width: 150px;
    font-size: 12px;
    border: none;
    border-radius: 20px 0 0 20px;
}

.checkout-btn {
    background-color: #34e629;
    height: 30px;
    width: 150px;
    font-size: 12px;
    border: none;
    border-radius: 0 20px 20px 0;
}

.back-btn:hover {
    cursor: pointer;
    font-size: 20px;
    background-color: yellow;
    transition: ease 0.3s;
}

.checkout-btn:hover {
    cursor: pointer;
    font-size: 20px;
    background-color: greenyellow;
    transition: ease 0.3s;
}

.game-selection > img {
    width: auto;
    height: 30vh;
    margin: 20px;
}

.price {
    display: flex;
    justify-content: space-evenly;
}

.new-games {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recommended-games {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10vh;
}
.trade-games {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

/*COMMUNITY-PAGE*/
.rate-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rate-game img {
    height: auto;
    width: 40vw;
    margin-bottom: 10vh;
}

.rate {
    display: flex;
}

#comment-area {
    display: block;
    align-items: center;
    margin: 10vh auto;
    height: 20vh;
    width: 50vw;
    resize: none;
}

/*MY-ACCOUNT-PAGE*/
.upload {
    margin: 1vh;
    border: none;
}

/*MY-ACCOUNT-PAGE-TWO*/
.summary {
    display: flex;
    justify-content: space-evenly;
}

.buy-game {
    max-width: 500px;
}

.buy-game > img {
    width: 100%;
}

.game-info-summary {
    width: 50%;
}

.add-price {
    display: flex;
    text-align: right;
    margin: 20px;
    font-size: 20px;
}

.price-name {
    margin: 10px;
}

.price-number {
    margin: 10px;
}

.check-stock {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    max-width: 300px;
    margin: 5vh auto;
}

/*FOOTER*/
footer {
    background-color: var(--primarycolor);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo social contact copy3";
}

.logo-holder {
    grid-area: logo;

}

.copy {
    grid-area: copy3;
    margin-top: 5rem;
}

.social {
    grid-area: social;
    margin: 5rem 0 0 1rem;
}

.contact {
    grid-area: contact;
    margin-top: 2rem;
}

.social-btn {
    max-height: 1.5rem;
    flex-wrap: wrap;
}

.social-btn:hover {
    font-size: 12px;
    cursor: pointer;
}

.fab {
    margin-left: 1rem;
}

/*MEDIA*/
@media only screen and (max-width: 600px) {
    h2 {
        font-size: 40px;
        margin: 2rem;
    }

    .showcase {
        display: none;
    }

    .selection {
        display: block;
    }

    .selection > button {
        display: block;
        margin: 0 auto;
        align-items: center;
    }

    .navigation {
        display: none;
    }

    .preview {
        display: block;
    }

    .preview img {
        width: 75%;
        justify-content: space-evenly;
        margin: 0 auto;
    }

    .nav-icons {
        display: flex;
        justify-content: space-around;
        background-color: #000;
    }

    .nav-icons i{
        color: #fff;
    }
    /*GAME-PAGE*/
    .selected-game {
        display: flex;
        flex-direction: column;
        margin : 10vh auto;
    }

    .selected-game-picture {
        margin: auto;
    }

    .selected-game-picture {
        margin: auto;
    }

    .recommended-games {
        margin: 0;
    }

    .game-selection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
    }

    .game-info-summary {
        display: block;
        margin: 0 auto;
    }

    .stock {
        display: block;
        margin-left: 0;
    }

    /*SIGN-UP PAGE*/
    .sign-up {
        width: 75%;
        margin: 0 auto;
    }

    /*MY-ACCOUNT-PAGE-TWO*/
    .summary {
        display: block;
    }

    /*FOOTER*/
    footer {
        display: block;
    }

    .main-navigation {
        max-width: 600px;
    }

    .desktop-logo {
        text-align: center;
    }

    .contact {
        display: none;
    }

    .copy {
        display: none;
    }

    .social {
        display: none;
    }

    .social-btn {
        display: none;
    }
}
