* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primarycolor: #69188f;
    --secondary: #a312e6;
    --yellow: #e6cd29;
}

/*GLOBAL*/
body {
    background-color: var(--secondary);
}

img {
    display: block;
}

h2 {
    font-size: 72px;
    text-align: center;
    color: #fff;
    margin: 10rem;
}

p {
    color: #fff;
}

.selection {
    display: none;
}

.order-btn {
    background-color: var(--yellow);
    font-size: 20px;
    border-radius: 30px;
    height: 57px;
    width: 216px;
    align-items: center;
}

.order-btn:hover {
    cursor: pointer;
}

.current {
    color: black;
    text-decoration: underline;
    text-decoration-color: var(--yellow);
}

/*HOME-PAGE*/

/*NAVIGATION*/
header {
    background-color: var(--primarycolor);
}

.mobile-logo {
    display: none;
}

.desktop-logo {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.main-navigation {
    display: flex;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;  
}

.nav-icons {
    display: none;
}

ul {
    flex-grow: 1;
    display: flex;
    list-style: none;
}

li {
    color: #fff;
    font-size: 30px;
}

a {
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-left: 1em;
    color: #fff;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    color: #000;
    cursor: pointer;
}

/*SHOWCASE*/
.showcase {
    display: flex;
    position: relative;
}

.fortnite {
    background-image: url(../img/fortnite.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 985px;
    width: 100%;
}

.catagory {
    list-style: none;
    margin: 7rem 0 0 2rem;
}

.catagory-btn {
    background-color: var(--yellow);
    font-size: 20px;
    margin: 20px 0;
    height: 58px;
    width: 327px;
}

.catagory-btn:hover {
    cursor: pointer;
}

/*PREVIEW*/
.preview {
    display: flex;
    justify-content: space-evenly;
}

.preview > div {
    max-width: 500px;
}

.preview img {
    margin: auto;
    max-height: 30rem;
}

.preview button {
    display: block;
    margin: 2rem auto;
}

.preview p {
    text-align: left;
    margin: 2rem 4rem;
}

/*GAMES-PAGE*/
.selected-game {
    display: flex;
    justify-content: space-evenly;
    margin: 10vh;
}

.selected-game-picture > img {
    height: 70vh;
    width: auto;
}

.game-info {
    width: 45%;
    margin-top: 0;
}

.game-info >h2 {
    text-align: left;
    margin: 0 0 5vh 0;
}

.stock {
    display: flex;
    margin: 5vh;
}

.stock > ul {
    margin-left: 15vw;
}

.back-btn {
    background-color: var(--yellow);
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 20px 0 0 20px;
}

.checkout-btn {
    background-color: #34e629;
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 0 20px 20px 0;
}

.game-selection > img {
    width: auto;
    height: 30vh;
    margin: 20px;
}

.new-games {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recommended-games {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.trade-games {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

/*FOOTER*/
footer {
    background-color: var(--primarycolor);
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo social contact copy";
}

.logo {
    grid-area: logo;
}

.copy {
    grid-area: copy;
    margin-top: 5rem;
}

.social {
    grid-area: social;
    margin: 5rem 0 0 1rem;
}

.social-btn {
    height: 1.5rem;
    width: 6rem;
}

.social-btn:hover {
    cursor: pointer;
}

.contact {
    grid-area: contact;
    margin-top: 2rem;
}

.fab {
    margin-left: 1rem;
}

/*MEDIA*/
@media only screen and (max-width: 600px) {
    h2 {
        font-size: 20px;
        margin: 2rem;
    }

    .desktop-logo {
        display: none;
    }

    .showcase {
        display: none;
    }

    .selection {
        display: block;
    }

    .selection > button {
        display: block;
        margin: 0 auto;
        align-items: center;
    }

    .navigation {
        display: none;
    }

    .preview {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .preview img {
        height: 15rem;
    }

    .nav-icons {
        display: flex;
        justify-content: space-around;
    }
    /*GAME-PAGE*/
    .selected-game {
        display: block;
    }

    .game-info {
        display: block;
    }

    .stock {
        display: block;
    }

    /*FOOTER*/
    footer {
        display: block;
    }

    .mobile-logo {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }

    .contact {
        display: none;
    }

    .copy {
        display: none;
    }

    .social-btn {
        display: none;
    }
}
