* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primarycolor: #69178f;
    --secondary: #a312e6;
    --yellow: #e6cd29;
    --green: #34e629;
}

/*GLOBAL*/
body {
    background-color: var(--secondary);
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    box-shadow: 10px 5px 5px black;
    margin-bottom: 20px;
}

h2,
h3 {
    font-size: 60px;
    text-align: center;
    color: #fff;
    margin: 10vh auto;
}

p {
    color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    color: #fff;
    font-size: 30px;
}

.current {
    color: black;
    text-decoration: underline;
    text-decoration-color: var(--yellow);
}

.selection {
    display: none;
}

.order-btn {
    background-color: var(--yellow);
    font-size: 20px;
    border-radius: 30px;
    height: 57px;
    width: 150px;
}

.order-btn:hover {
    cursor: pointer;
    border: none;
    font-size: 25px;
    background-color: yellow;
    transition: ease 300ms;
}

.buy-now-btn {
    background-color: var(--yellow);
    height: 30px;
    width: 100px;
    border-radius: 20px;
}

.buy-now-btn:hover {
    font-size: 20px;
    transition: ease 300ms;
    background-color: yellow;
    border: none;
}

form {
    max-width: 500px;
    margin: 2vh auto;
    text-align: center;
}

form ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid var(--yellow);
    border-radius: 20px;
}

form .order-btn {
    margin: 2vh auto;
}

input {
    width: 75%;
    height: 30px;
    margin-bottom: 1vh;
}

label {
    display: block;
}

.logo {
    max-width: 500px;
}

.desktop-logo {
    width: 100%;
    box-shadow: none;
}

.fas {
    color: #fff;
    margin: 0 10px;
}

.fa-check {
    color: var(--green);
}

.fa-times {
    color: #ff0000;
}

/*HOME-PAGE*/

/*NAVIGATION*/
header {
    background: var(--primarycolor);
    width: 100%;
}

#hamburger-menu { 
    display: none;
}

.hamburger-label {
    cursor: pointer;
    display: none;
}

nav li {
    display: block;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    display: block;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    color: #000;
    transition: 300ms;
}

.current {
    font-weight: bold;
}

/*SHOWCASE*/
.showcase {
    display: flex;
    position: relative;
}

.fortnite {
    background-image: url(../img/fortnite.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 985px;
    width: 100%;
}

.catagory {
    list-style: none;
    margin: 20px;
}

.catagory-btn {
    background-color: var(--yellow);
    font-size: 20px;
    margin: 20px 0;
    padding: 10px;
    height: 58px;
    width: 327px;
}

.catagory-btn:hover {
    font-size: 30px;
    transition: 300ms ease;
    background-color: yellow;
    cursor: pointer;
}

/*PREVIEW*/
.preview {
    display: flex;
    justify-content: space-evenly;
}

.preview > div {
    flex: 1;
    max-width: 500px;
    flex-shrink: 1;
    margin: 0 2vw;
}

.preview img {
    width: 100%;
}

.preview button {
    display: block;
    margin: 2rem auto;
}

.preview p {
    text-align: left;
    margin: 2rem 4rem;
}

/*GAMES-PAGE*/
.selected-game {
    display: flex;
    justify-content: space-evenly;
    margin: 10vh 5vw;
}

.selected-game-picture {
    max-width: 500px;
    flex: 1;
}

.selected-game-picture > img {
    width: 100%;
}

.game-info {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: space-between;
    margin: 0 2vw;
    flex: 1;
}

.game-info > h2 {
    text-align: left;
    margin: 0 0 5vh 0;
}

.stock {
    max-width: 500px;
    display: flex;
}

.stock > ul {
    margin-left: 15vw;
}

.rate-icons {
    display: flex;
}

.back-buttons {
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
}

.back-btn {
    display: block;
    background-color: var(--yellow);
    height: 30px;
    max-width: 150px;
    padding: 10px;
    font-size: 12px;
    border: none;
    border-radius: 20px 0 0 20px;
}

.checkout-btn {
    background-color: var(--green);
    height: 30px;
    max-width: 150px;
    padding: 10px;
    font-size: 12px;
    border: none;
    border-radius: 0 20px 20px 0;
}

.back-btn:hover {
    cursor: pointer;
    font-size: 20px;
    background-color: yellow;
    transition: ease 300ms;
}

.checkout-btn:hover {
    cursor: pointer;
    font-size: 20px;
    background-color: greenyellow;
    transition: ease 300ms;
}

.game-selection img {
    max-width: 200px;
    margin: 20px;
}

.price {
    display: flex;
    justify-content: space-evenly;
}

.new-games {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recommended-games {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.trade-games {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

/*COMMUNITY-PAGE*/
.rate-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rate-game img {
    height: auto;
    width: 40vw;
    margin-bottom: 10vh;
}

.rate {
    display: flex;
}

#comment-area {
    display: block;
    align-items: center;
    margin: 10vh auto;
    height: 20vh;
    width: 50vw;
    resize: none;
}

.community-button {
    margin: 20px auto;
    text-align: center;
}

/*MY-ACCOUNT-PAGE*/
.upload {
    margin: 1vh;
    border: none;
}

/*MY-ACCOUNT-PAGE-TWO*/
.summary {
    display: flex;
    justify-content: space-evenly; 
}

.buy-game {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-right: 3vw;
}

.buy-game > img {
    width: 100%;
}

.game-info-summary {
    max-width: 500px;
}

.add-price {
    display: flex;
    text-align: right;
    margin: 20px;
    font-size: 20px;
}

.price-name {
    margin: 10px;
}

.price-number {
    margin: 10px;
}

.check-stock {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    max-width: 300px;
    margin: 5vh auto;
}

/*CHECKOUT-PAGE*/
.checkout-text {
    text-align: center;
}

.checkout {
    animation: neon 500ms infinite alternate;
    color: #eee;
}

.checkout-picture {
    max-width: 500px;
    margin: 20px 20px;
}

.checkout-picture > img {
    width: 100%;
}

.checkout-order {
    display: flex;
    justify-content: space-evenly;
    margin: 100px auto;
}

.checkout-add-price {
    display: flex;
    text-align: right;
    margin: auto 0;
    font-size: 20px;
    line-height: 1.8;
}

/*FOOTER*/
footer {
    background-color: var(--primarycolor);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo social contact copy3";
}

.logo-holder {
    grid-area: logo;
}

.copy {
    grid-area: copy3;
    margin-top: 5rem;
}

.social {
    grid-area: social;
    margin: 5rem 0 0 1rem;
}

.contact {
    grid-area: contact;
    margin-top: 2rem;
}

.social-btn {
    max-height: 1.5rem;
    flex-wrap: wrap;
}

.social-btn:hover {
    font-size: 12px;
    cursor: pointer;
}

.fab {
    margin-left: 1rem;
}

/*KEYFRAMES*/
@keyframes neon {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        
        text-shadow:
        2px 5px 7px #e56717,
        2px 5px 14px #e56717,
        2px 5px 22px #e56717,
        2px 5px 44px #e56717,
        2px 5px 88px #c35817,
        2px 5px 100px #c35817,
        2px 5px 120px #c35817,
        2px 5px 170px #c35817,
        2px 5px 200px #000;
    
    }
    
    15%, 25%, 44%, 75%, 99% {        
        text-shadow: none;
    }    
  }

/*MEDIA*/
@media only screen and (max-width: 600px) {
    /*NAVIGATION*/
    header {
        background: var(--primarycolor);
        min-height: 100px;
    }
    
    nav, #hamburger-menu {
        display: none;
    }
    
    nav ul {
        padding: 0;
    }
    
    nav li {
        display: block;
    }
    
    nav a {
        text-decoration: none;
        color: #fff;
        padding: 10px;
        display: block;
    }
    
    nav a:hover {
        text-decoration: underline;
        text-decoration-color: var(--yellow);
    }
    
    .current {
        font-weight: bold;
    }
    /*HOME-PAGE*/
    
    .hamburger-label {
        float: right;
        color: #fff;
        padding: 10px;
        font-size: 1.5em;
        display: block;
    }
    
    #hamburger-menu:checked ~ nav {
        display: block;
    }

    h2 {
        font-size: 40px;
    }

    .showcase {
        display: none;
    }

    .selection {
        display: block;
    }

    .selection > button {
        display: block;
        margin: 0 auto;
        align-items: center;
    }

     .navigation {
        display: block;
    } 

    .preview {
        display: block;
    }

    .preview img {
        width: 75%;
        justify-content: space-evenly;
        margin: 0 auto;
    }

    .nav-icons {
        display: flex;
        justify-content: space-around;
        background-color: #000;
    }

    .nav-icons i {
        color: #fff;
    }
    /*GAME-PAGE*/
    .selected-game {
        display: flex;
        flex-direction: column;
        margin: 10vh 5vw;
    }

    .selected-game-picture {
        margin: auto;
    }

    .recommended-games {
        margin: 0;
    }

    .game-selection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
    }

    .game-info-summary {
        display: block;
        margin: 0 auto;
    }

    .game-info p {
        text-align: left;
        justify-content: space-evenly;
        margin: 20px;
    }

    .stock {
        display: block;
        margin-left: 0;
    }

    .rate-icons {
        margin: 20px;
    }

    /*COMMUNITY-PAGE*/
    .rate-game {
        margin: 20px;
    }

    .rate-game img {
        width: 100%;
    }

    /*SIGN-UP PAGE*/
    .sign-up {
        margin: 20px;
    }

    /*MY-ACCOUNT-PAGE-TWO*/
    .summary {
        display: block;
    }

    .form {
        margin: 20px;
    }

    .buy-game {
        margin: 20px;
    }

    .game-info-summary {
        margin: 20px;
    }

    /*CHECKOUT-PAGE*/
    .checkout-order {
        display: block;
    }

    .checkout-add-price {
        justify-content: center;
    }

    /*FOOTER*/
    footer {
        display: block;
        text-align: center;
    }

    .main-navigation {
        max-width: 600px;
    }

    .desktop-logo {
        text-align: center;
    }
}
